{% extends 'base.jinja2' %}

{% block subtitle %}All the things{% endblock subtitle %}

{% block content %}
<ul>
    {% for task in tasks %}
    <li>
        <!-- TODO: Write the code that will display an individual task -->
    </li>
    {% endfor %}
</ul>
{% endblock content %}
